<launch>

  <!-- upload nao robot launcher-->
  <include file="$(find nao_handler)/launcher/nao_launcher.launch" >
  <arg name="nao_ip" value="$(arg nao_ip)"/>  
  </include>
  
  <node name="$(anon nao1)" pkg="nao_handler" type="tracking_motion_controller.py" output="screen" />
  
  <rosparam file="$(find nao_handler)/config/values_and_topics.yaml" command="load" />  

  <!-- upload predator launcher-->
  <include file="$(find pandora_tld)/launch/predator_node.launch">
  </include>
  
  <!-- node name="$(anon nao)" pkg="nao_localization" type="nao_interface.py" output="screen" -->
  
  <include file="$(find localization_project)/launchers/nao_interface_plus_rviz_and_particles.launch" >
  </include>
  
</launch>
